@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #007AF3;
}


body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: white;
    padding: 1em;

    .logo {
        text-decoration: none; //get rid of the underline
        font-weight: bold; //can ut in specific numerical
        color: black;
        font-size: 1.2em; //em is a relative value

        span{
            color: var(--primary-color);
        }
    }

    nav {
       display: none;
    }
    
    .container {
        display: flex; //short for flext box
        place-content: space-between; //pushing the hamburger to the right end
    }

    .mobile-menu {
        cursor: pointer;
        width: 7%;
    }
}

a {
    color: #444444;
}

ul {
    list-style-type: none; //get rid of the default bullet
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em; //top & bottom 5, right and left are 2, or all 4 directions with 4 values
}


.hero {
    text-align: center;
}

.left-col {
    .subhead {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.3em; //between 2 lines
        margin-top: .2em; //getting it closer to the subhead
    }

    .primary-cta {
        background: var(--primary-color);
        color: white;
        text-decoration: none; //get rid of underline
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block;
    }

    .watch-video-cta {
        display: block;
        margin-top: 1em;

        img {
            margin-right: .5em;
            width: 5%;
        }
    }
}

.hero-img {
    // width: 100%;
    margin-top: 3em;
}


section.features-section {
    background: #20272E;
    color: white;
}

ul.features-list {
    margin: 0;
    padding-left: .1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr)); //advanced feature hat automatically break contents into multiple columns as needed

    li {
        font-size: 1.1em;
        margin-bottom: 1em; //space out the list items from each other
        margin-left: 2em; // indent away from the edge to make room for the check marks or bullets icons
        position: relative; // this is required if the check marks are relative to its parent
        
        
        //to make the bullet check marks
        &:before {
            content: '';
            left: -2em;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url('../images/check.svg');
            background-size: contain;
            margin-right: .5em;
        }
    }
}


.features-section img {
    display: none;
}

.testimonials-section {
    background: var(--primary-color);
    color: white;

    li {
        background: #006BD6;
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto; //0 on top, auto on left and right, and 5 on bottom
        border-radius: 1em;

        img {
            width: 5em;
            height: 5em;
            border: 5px solid #006BD6;
            border-radius: 50%;
            margin-top: -4.5em;
            background: #006BD6;
        }
    }
}


h2 {
    font-size: 2em;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 100%;
    padding: .8em; //the inner text
    margin-bottom: 1em; //pushing them away from each other
    border-radius: .3em;
    border: 1px solid gray; //get rid of the thick border
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 300px;
}


nav.menu-btn {
    display: block;
}

nav {
    position: fixed; //it doesn't scroll with the page
    z-index: 999; //sits on top of everything, included for elements that are absolute or fixed
    width: 10%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
        // color: white;
    }

    // ul.secondary-nav {
    //     // margin-top: 5em;
    //     color: white;
    // }

    li {
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right; 

            &:hover {
                font-weight: bold;
            }
        }
    }
}


.mobile-menu-exit {
    float: right; //push it right
    margin: .5em;
    cursor: pointer;
    width: 70%;
}

@media only screen and (min-width: 768px) {

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar .container { //container is parent of nav bar
        display: grid; //making the container become a grid
        grid-template-columns: 180px auto; //there're 2 columns: 1st is the logo, 2nd is the nav, so assign 180px to the logo, and auto for the rest         
        justify-content: unset;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: black;
            font-size: 1em;
            padding: .1em 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }

        li.go-premium-cta a {
            color: var(--primary-color);
            border: 3px solid var(--primary-color);
            font-weight: bold;
            border-radius: 5em;
            margin-top: -.2em;

            &:hover {  //this hover over will revert the style
                background: var(--primary-color);
                color: white; 
            }
        }

    }
}


@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero .container {
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-col {
            margin: 3em 3em 0 5em;

            h1 {
                font-size: 3em;
                width: 90%;
            }
        }
    }

    .hero-img {
        // width: 200%;
        margin-right: 8em;
    }
    
    .hero-cta {
        display: flex;
    }
    
    .primary-cta {
        margin-right: 1em;
    }
    
    ul.features-list {
        display: block;
        margin-left: 5em;
    
        li {
            font-size: 1.4em;
    
            &:before {
                width: 30 px;
                height: 30px;
            }
        }
    }
    
        .features-section {
            position: relative;
       }
    
       .features-section img {
            display: block;
            position: absolute;
            right: 0;
            width: 350px;
            bottom: -2em;
       }
    
       .testimonials-section ul {
           display: flex;
    
           li {
               margin: 0 1em;
           }
       }
    
       .contact-section {
           position: relative;
    
           .container {
               display: flex;
           }
       }
    
       .contact-right {
           position: absolute;
           right: 0;
           top: 0;
           width: 45%;
           height: 100%;
    
           iframe {
               height: 100%;
           }
       }
}




@media only screen and (min-width: 1450px) {
    .features-section {
        
        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -4em;
        }


        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left: 4.5em;
            top: 2em;
        }
    }
}

